In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from uszipcode import SearchEngine
import xlsxwriter

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', None)

In [2]:
COU = pd.read_excel('script_test.xls')

COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,NaN,NaN,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,NaN,NaN,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,NaN,NaN,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,NaN,NaN,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,NaN,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,NaN,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [10]:
writer = pd.ExcelWriter("pandas_datetime.xlsx",
                        engine='xlsxwriter',
                        datetime_format='default_date_format')

In [11]:
# Convert the dataframe to an XlsxWriter Excel object.
COU.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [7]:
def find_zip(zip, state=True, city=True):
    search = SearchEngine(simple_zipcode=True)  # set simple_zipcode=False to use rich info database
    zipcode = search.by_zipcode(zip)
    
    if state==True and city==True:
        return zipcode.state, zipcode.city
    elif state==True:
        return zipcode.state
    else:
        return zipcode.city

In [23]:
def clean_address(df):
    df_1 = df
    df['City'] = df_1['City'].fillna('NaN')
    df['StateCode'] = df_1['StateCode'].fillna('NaN')
    
    for record in range(len(df['City'])):
        if df['City'][record] == 'NaN':
            city = find_zip(df['ZipCode'][record], state=False)
            df['City'][record] = city
    
    for record in range(len(df['StateCode'])):
        if df['StateCode'][record] == 'NaN':
            state = find_zip(df['ZipCode'][record], city=False)
            df['StateCode'][record] = state
        
    for status in range(len(df['City'])):
        if df['City'][status] == 'NaN':
            df['City'][status] = np.nan
        
    for status in range(len(df['StateCode'])):
        if df['StateCode'][status] == 'NaN':
            df['StateCode'][status] = np.nan

In [24]:
clean_address(COU)

COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Bend,OR,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Eugene,OR,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Eugene,OR,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Bend,OR,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Bend,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,OR,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Bend,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,OR,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [17]:
COU_1 = COU

COU['City'] = COU_1['City'].fillna('NaN')

for record in range(len(COU['City'])):
    if COU['City'][record] == 'NaN':
        city = find_zip(COU['ZipCode'][record], state=False)
        COU['City'][record] = city

for status in range(len(COU['City'])):
    if COU['City'][status] == 'NaN':
        COU['City'][status] = np.nan
        
COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Bend,NaN,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Eugene,NaN,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Eugene,NaN,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Bend,NaN,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Bend,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Bend,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [18]:
COU_1 = COU

COU['StateCode'] = COU_1['StateCode'].fillna('NaN')

for record in range(len(COU['StateCode'])):
    if COU['StateCode'][record] == 'NaN':
        state = find_zip(COU['ZipCode'][record], city=False)
        COU['StateCode'][record] = state

for status in range(len(COU['StateCode'])):
    if COU['StateCode'][status] == 'NaN':
        COU['StateCode'][status] = np.nan
        
COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Bend,OR,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Eugene,OR,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Eugene,OR,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Bend,OR,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Bend,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,OR,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Bend,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,OR,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [198]:
for record in range(len(COU['EmployeeBranch'])):
    if COU['EmployeeBranch'][record] == 'Internal Payroll, Inc.':
            COU.drop(labels=record, axis=0, inplace=True)

COU = COU.reset_index(drop=True)

In [199]:
for record in range(len(COU['SSN'])):
    COU['SSN'][record] = COU['SSN'][record].replace('-', '')

In [200]:
COU_1 = COU

COU['Gender'] = COU_1['Gender'].fillna('F')

In [201]:
COU_1 = COU

COU['MaritalStatusCode'] = COU_1['MaritalStatusCode'].fillna('S')

In [202]:
COU_1 = COU

COU['BirthDate'] = COU_1['BirthDate'].fillna('1-1-1921')

In [203]:
country = ['US']*len(COU)

COU['CountryCode'] = country

In [204]:
COU = COU.rename(columns={'EmployeeCellPhone':'HomePhone'})

In [205]:
COU_1 = COU

COU['LastStatusDate'] = COU_1['LastStatusDate'].fillna('NaN')

for status in range(len(COU['Status'])):
    if (COU['Status'][status] == 'A') and (COU['LastStatusDate'][status] != 'NaN'):
        COU['LastStatusDate'][status] = np.nan

for status in range(len(COU['Status'])):
    if COU['LastStatusDate'][status] == 'NaN':
        COU['LastStatusDate'][status] = np.nan

In [206]:
COU_1 = COU

COU['LastStatusDate'] = COU_1['LastStatusDate'].fillna('NaN')

for status in range(len(COU['Status'])):
    if (COU['Status'][status] == 'T') and (COU['LastStatusDate'][status] == 'NaN'):
        COU['LastStatusDate'][status] = datetime.today().strftime('%m-%d-%Y')
        
for status in range(len(COU['Status'])):
    if COU['LastStatusDate'][status] == 'NaN':
        COU['LastStatusDate'][status] = np.nan

In [207]:
COU_1 = COU

COU['LocationStateCode'] = COU_1['LocationStateCode'].fillna('CA')

In [208]:
for record in range(len(COU['PayCycle'])):
    COU['PayCycle'][record] = 52

In [209]:
COU_1 = COU

COU['Salaried'] = COU_1['Salaried'].fillna('N')

In [210]:
COU_1 = COU

COU['HourlyRate'] = COU_1['HourlyRate'].fillna('NaN')

for status in range(len(COU['HourlyRate'])):
    if (COU['HourlyRate'][status] == 'NaN'):
        COU['HourlyRate'][status] = 1
        COU['AnnualPay'][status] = 2080.00

for status in range(len(COU['HourlyRate'])):
    if COU['HourlyRate'][status] == 'NaN':
        COU['HourlyRate'][status] = np.nan

In [211]:
branch_dict = {'Commerce, Inc.': 'B01', 'Commerce, LLC.': 'B02', 'Eagan': 'B03', 'Internal Payroll, Inc.': 'B04',
               'Internal Payroll, LLC.': 'B05', 'Paramount, Inc.': 'B06', 'Paramount, LLC.': 'B07', 
               'Riverside, Inc.': 'B08', 'Riverside, LLC.': 'B09', 'Santa Ana, Inc.': 'B10', 
               'Santa Ana, LLC.': 'B11', 'Santa Fe Springs, Inc.': 'B12',
               'Santa Fe Springs, LLC.': 'B13', 'SkillSet Group Inc - Oasis': 
               'B14', 'SkillSet Group LLC - Oasis': 'B15'}

In [212]:
for branch in range(len(COU['EmployeeBranch'])):
    COU['EmployeeBranchCode'][branch]=branch_dict.get(COU['EmployeeBranch'][branch])

0     B01
1     B01
2     B01
3     B01
4     B01
5     B02
6     B02
7     B02
8     B02
9     B02
10    B03
11    B03
12    B03
13    B03
14    B03
15    B05
16    B05
17    B05
18    B05
19    B06
20    B06
21    B06
22    B06
23    B07
24    B07
25    B07
26    B07
27    B08
28    B08
29    B08
30    B09
31    B09
32    B09
33    B10
34    B10
35    B10
36    B10
37    B10
38    B11
39    B11
40    B11
41    B11
42    B12
43    B12
44    B12
45    B13
46    B13
47    B14
48    B14
49    B14
50    B14
51    B15
52    B15
53    B15
54    B15
55    B15
56    B15
Name: EmployeeBranchCode, dtype: object

In [213]:
COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,HomePhone,EmployeeBranch,...,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle,CountryCode
0,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
1,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
2,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,T,2020-01-02 00:00:00,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
3,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
4,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
5,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
6,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
7,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
8,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
9,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,T,2020-01-01 00:00:00,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
10,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
11,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,Eagan,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
12,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
13,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
14,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
15,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
16,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
17,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
18,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
19,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
20,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
21,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,T,06-28-2021,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
22,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
23,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
24,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
25,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
26,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
27,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
28,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
29,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
30,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
31,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
32,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
33,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
34,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
35,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
36,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
37,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
38,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
39,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
40,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
41,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
42,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
43,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
44,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
45,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
46,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
47,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
48,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
49,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,T,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US
50,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
51,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
52,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
53,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US
54,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
55,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US
56,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,A,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US

In [215]:
div_dict = {'Inc': '0001', 'LLC': '0002'}

COU['DivisionCode'] = ['hold']*len(COU)

for record in range(len(COU['EmployeeBranch'])):
    if 'Inc' in COU['EmployeeBranch'][record]:
        COU['DivisionCode'][record] = '0001'
    elif 'LLC' in COU['EmployeeBranch'][record]:
        COU['DivisionCode'][record] = '0002'

COU

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,HomePhone,EmployeeBranch,...,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle,CountryCode,DivisionCode
0,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
1,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
2,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,2020-01-02 00:00:00,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
3,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
4,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
5,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
6,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
7,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
8,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
9,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",...,2020-01-01 00:00:00,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
10,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,hold
11,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,Eagan,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,hold
12,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,hold
13,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,hold
14,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,Eagan,...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,hold
15,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
16,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
17,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
18,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
19,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
20,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
21,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,06-28-2021,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
22,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
23,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
24,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
25,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
26,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
27,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
28,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
29,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
30,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
31,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
32,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
33,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
34,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
35,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
36,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
37,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
38,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
39,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
40,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
41,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
42,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
43,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
44,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
45,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
46,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
47,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0001
48,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
49,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,06-28-2021,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
50,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0001
51,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
52,999999999,Test,Employee,M,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
53,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,1,2080.00,52,US,0002
54,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
55,999999999,Test,Employee,F,S,1-1-1921,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002
56,999999999,Test,Employee,F,S,1921-01-01 00:00:00,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,...,NaN,CA,NaN,2021-02-01,N,14.5,4903.92,52,US,0002