In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from uszipcode import SearchEngine
import xlsxwriter

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', None)

In [16]:
df = pd.read_excel('dirty_census.xls')

df

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,NaN,NaN,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,NaN,NaN,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,NaN,NaN,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,NaN,NaN,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,Cal,2111,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,NaN,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,NaN,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,NaN,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,NaN,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [6]:
df_1 = df

df['Gender'] = df_1['Gender'].fillna('F')

df

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,NaN,NaN,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,NaN,NaN,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,NaN,NaN,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,NaN,NaN,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,Cal,2111,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,NaN,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,NaN,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly

In [17]:
df['Gender'] = df['Gender'].fillna('F')

df

,SSN,FirstName,LastName,Gender,MaritalStatusCode,BirthDate,EmployeeID,EmployeeEmail,EmployeeCellPhone,EmployeeBranch,EmployeeBranchCode,Address1,City,StateCode,ZipCode,Status,LastStatusDate,LocationStateCode,ClassificationCode,HireDate,Salaried,HourlyRate,AnnualPay,PayCycle
0,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
1,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
2,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,NaN,NaN,97701,T,2020-01-02,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
3,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
4,009-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
5,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
6,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
7,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
8,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
9,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
10,009-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
11,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
12,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
13,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
14,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Commerce, LLC.",Test Branch,999 Test St,NaN,NaN,97403,T,2020-01-01,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
15,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
16,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
17,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
18,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
19,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,Eagan,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
20,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
21,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,NaN,NaN,97402,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
22,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
23,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Internal Payroll, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
24,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Internal Payroll, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
25,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
26,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
27,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
28,000-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
29,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Paramount, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
34,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
35,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
36,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
37,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
38,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Riverside, LLC.",Test Branch,999 Test St,NaN,NaN,97703,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
39,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
40,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
41,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
42,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,Cal,2111,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
43,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
44,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,NaN,CA,97701,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
45,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
46,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
47,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Ana, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
48,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
49,009-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
50,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, Inc.",Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
51,099-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
52,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,"Santa Fe Springs, LLC.",Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
53,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
54,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
55,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,T,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
56,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group Inc - Oasis,Test Branch,999 Test St,Test,CA,99999,A,2020-01-01,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
57,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
58,999-99-9999,Test,Employee,M,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,NaN,CA,97701,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
59,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,NaN,NaN,Weekly
60,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
61,999-99-9999,Test,Employee,F,NaN,NaT,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,NaN,97403,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly
62,999-99-9999,Test,Employee,F,NaN,1921-01-01,999999,test@test.com,(999)-999-9999,SkillSet Group LLC - Oasis,Test Branch,999 Test St,Test,CA,99999,A,NaT,CA,NaN,2021-02-01,NaN,14.5,4903.92,Weekly